

@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);

@font-face {
    font-family: 'Cal Sans';
    src: url('../rhythm-website/fonts/CalSans-SemiBold.eot');
    src: url('../rhythm-website/fonts/CalSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../rhythm-website/fonts/CalSans-SemiBold.woff2') format('woff2'),
        url('../rhythm-website/fonts/CalSans-SemiBold.woff') format('woff'),
        url('../rhythm-website/fonts/CalSans-SemiBold.ttf') format('truetype'),
        url('../rhythm-website/fonts/CalSans-SemiBold.svg#CalSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}