$gray: rgba(18, 18, 18, 0.40);
$dark: #121212;
$primary: #FF6428;
$white: #fff;
$link-grey: #868686;


$container: 1230px;
$padding: 15px;

$containerWidth: $container + 2*$padding;


$mobileSmall:479.9808px;
$mobile:767.9808px;
$tablet:991.9808px;
$pc: $containerWidth;


@import url("null.css");
@import "_fonts.scss";
@import '_components.scss';




%fontCal{
    font-family: 'Cal Sans';
    color: $dark;
    font-size: 2.75rem;
    font-weight: 600;

}


body{
    font-family: Poppins;
    font-weight: 400;
    color:  #666;

}

[class*=__container] {
    max-width: $containerWidth;
    padding: 0 $padding;
    margin: 0 auto;
}


section{
   
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}



.header {
    
}
.page {
    flex: 1 1 auto;

  
    .page__hero {
    }

    
    .page__store {
    }
}
.footer {
}





.header {
    
    padding-top: 3.875rem;
    padding-bottom: 3.875rem;
    
  
    background: linear-gradient(0deg, rgba(124, 124, 124, 0.00) 0%, rgba(124, 124, 124, 0.36) 39.5%);
    z-index: 6;

    @media (max-width:$mobile) {
        background:none;
    }
    
    
    .header__container {
        
        display: flex;
        column-gap: 130px;
        row-gap: .625rem;
        justify-content: flex-start;
        

        @media (max-width:$tablet){
            column-gap: 80x;
        }
        @media (max-width:$mobile){
            column-gap: 3.125rem;
        }
        @media (max-width:$mobileSmall){
            column-gap: 1.25rem;
        }

        @media (max-width:$mobile) {
            
            justify-content: space-between;
        }
    }
    .header__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .75rem;
        @extend %fontCal;
        font-size: 1.5rem;
    }
    .header__menu {
       
    }
}

.menu {
    .menu__list {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 3.5rem;
        row-gap: .625rem;

        
    
    }
    .menu__item {
    }
    .menu__link {
        color: $gray;
        font-weight: 500;
        transition: all 0.5s;
        position: relative;
        
        &:hover{
            text-decoration: underline;
            color: $primary;
            top: 1px;
            
        }
    }
}




.hero{
    padding-top: 5.3125rem;
    padding-bottom: 3.75rem;
    position: relative;

    
    @media (max-width:$tablet){
        padding-top: 4.0625rem;
        padding-bottom: 2.5rem;
    }

    @media (max-width:$mobile){
        padding-top: 3.125rem;
    }

    @media (max-width:$mobileSmall){
        padding-top: 2.5rem;
    }
   
    .hero__container {
       
        position: relative;
    
        display: flex;
        column-gap: 11.25rem;
        justify-content: space-between;
        row-gap: 3.125rem;

        @media (max-width:$tablet) {
            column-gap: 70px;
        }

        @media (max-width:$mobile) {
            flex-direction: column;
            
        }

        &::after{
            content: "";
            position: absolute;
          
            height: 80px;
            width: 80px;
            bottom: 0;
            right: 0;
            background-color: $white;
            background-image: url("../img/logo.svg");
            background-repeat: no-repeat;
            background-position: center;
            box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
            z-index: 5;
            transform: translate(-170%, 50%);
            border-radius: 50%;
    
            @media (max-width:$mobile) {
                left: 50%;
                bottom: 0;
                transform: translate(-2.5rem, 2.5rem);
                z-index: 4;
                
            }
          
        }

    }
    
        .hero__content {
            display: flex;
            flex-direction: column;
            flex: 0 1 470px;
            
            @media (max-width:$mobile){
                flex: 0 1 auto;
            }
    
        }
        .hero__title {
            @extend %fontCal;
            font-size: 3.5rem;
            font-weight: 400;
    
            &:not(:last-child){
                margin-bottom: .75rem;
            }
    
            span{
                color: $primary;
            }

            @media (max-width:$tablet){
                font-size: 46px;
            }
            @media (max-width:$mobile){
                font-size: 40px;
            }
            @media (max-width:$mobileSmall){
                font-size: 35px;
            }
        }
        .hero__text {
            &:not(:last-child){
                margin-bottom: 2.0625rem;
            }
            p{
                font-weight: 500;
                line-height: 165%; /* 20/16 */
                

                @media (max-width:$tablet){
                    font-size: 14px;
                }
                @media (max-width:$mobile){
                    font-size: 12px;
                }
               
            }
    
        }
        .hero__navigation {
            display: flex;
            column-gap: 40px;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 10px;
            @media (max-width:$mobileSmall){
                justify-content: center;
            }
        }
        .hero__btn {
            text-align: center;
            display: inline-block;
            background-color: $primary;
            padding: 1.125rem 3rem;
            border-radius: 2.5rem;
            
            color: $white;
            font-weight: 600;
    
            position: relative;
            top: 0;
            transition: all 0.3s;
    
            &:hover{
                top: 3px;
                box-shadow: 0px 10px 12.9008px 0px rgba(0, 0, 0, 0.25);
    
            }

            @media (max-width:$mobileSmall){
                flex: 1 0 100%;
            }
        }
        .hero__socials {
            display: flex;
            column-gap: 20px;
            align-items: center;

           
     
    
        }
        .hero__socials-item {
     
            
    
        }

        .hero__image{
            flex: 1 1 450px;


            
            
            
           .hero__picture{
            overflow: hidden;
            border-radius: 0px 0px 9.4375rem 22.5rem;
            position: absolute;
            width: 45vw;
            height: 200%;
            background-color: red;
            bottom: 0;
            right: 0;

            @media (max-width:$mobile) {
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }

           
    
            
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
           }

           
        
                
        
           
        }
}


////////////////////////////////

.store {
    padding-top: 10rem;
    padding-bottom: 5.625rem;

    @media (max-width: $tablet){
        padding-top: 6.25rem;
        padding-bottom: 4.375rem;
    }

    @media (max-width: $mobile){
        padding-top: 5.625rem;
        padding-bottom: 3.75rem;
    }

    @media (max-width: $mobileSmall){
        padding-top: 5rem;
        padding-bottom: 3.125rem;
    }
   
    .store__container {
    }
    
    .store__title {
    }
    .store__content {
    }
    .store__cards {
        &:not(:last-child){
            margin-bottom: 7.5rem;

            @media (max-width:$tablet) {
                margin-bottom: 6.25rem;
            }

            @media (max-width:$mobileSmall) {
                margin-bottom: 5.625rem;
            }

            @media (max-width:$mobile) {
                margin-bottom: 5rem;
            }
        }
    }
}

.cards {
   

    .cards__header {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:not(:last-child){
            margin-bottom: 32px;
        }

       
    }
    .cards__title {
        color: $dark;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1.6px;
        text-transform: uppercase;

        @media (max-width:$tablet){
            font-size: 20px;
        }
    
        @media (max-width:$mobile){
            font-size: 18px;
        }
    
        @media (max-width:$mobileSmall){
            font-size: 16px;
        }

    }
    .cards__extend {
        color:$link-grey;
        font-size: 20px;
        font-weight: 500;
       

        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }

        @media (max-width:$tablet){
            font-size: 18px;
        }
    
        @media (max-width:$mobile){
            font-size: 16px;
        }
    
        @media (max-width:$mobileSmall){
            font-size: 14px;
        }

    }
    .cards__items {
        display: grid;
        grid-template-columns: repeat(3, minmax(12.5rem, 1fr));
        column-gap: 55px;
        row-gap: 60px;

        @media (max-width: $tablet){
            grid-template-columns:  repeat(2, 1fr);;
        }

        @media (max-width: $mobileSmall){
            grid-template-columns:  1fr;;
        }
    }
    
    .card__item {
        display: flex;
        flex-direction: column;
        border-radius: 15px;
       

        & > *{
            margin-bottom: 7px;

            &:last-child{
                margin-bottom: 0;
            }
        }


    }
    .card__photo {
        
        margin-bottom: 20px;
        border-radius: 12px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

      
    }
    .card__name-link {
        color: $dark;
        font-weight: 500;

        &:hover{
            text-decoration: underline;
        }

        @media (max-width:$tablet){
            font-size: 14px;
        }
    
        @media (max-width:$mobile){
            font-size: 12px;
        }

    }
    .card__price {
        font-size: 14px;

        &::before{
            content: "$";

        }

        @media (max-width:$tablet){
            font-size: 12px;
        }
    
        @media (max-width:$mobile){
            font-size: 10px;
        }
    }
}




//////////////////////
/// 
/// 
.page__categories {
}
.categories {

    padding-top: 5.625rem;
    padding-bottom: 110px;

    @media (max-width: $tablet){
        padding-top: 4.375rem;
        padding-bottom: 5rem;
    }

    @media (max-width: $mobile){
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
    }

    @media (max-width: $mobileSmall){
        padding-top: 3.125rem;
        padding-bottom: 3.125rem;
    }

    .categories__container {
    }
    
    .categories__title {
    }
    .categories__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 4.375rem;
        row-gap: 1.875rem;


        @media (max-width:$tablet){
            column-gap: 2.5rem;
            
        }
        @media (max-width:61.9988rem){
            column-gap: 1.875rem;
            grid-template-columns: repeat(2,1fr);
            
        }
        @media (max-width:$mobileSmall){
            grid-template-columns: 1fr;
            row-gap: 1.25rem;
        }



    }
    .categories__item {
       
    }
}


.item-category {
    position: relative;
    &:hover{
        .item-category__img img{
            transform: scale(1.1);
        }
    }

    .item-category__title {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 1.875rem 1.25rem;
        font-size: 1.25rem;
        font-weight: 600;
        color: $white;
        z-index: 4;
    }
    .item-category__img {
        position: relative;
        padding-bottom: 127%; //280/220 height and width;
        border-radius: 1.25rem;
        overflow: hidden;

        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.80) 100%);
            z-index: 3;
        }


        img{
            transition: all 0.3s ease 0s;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
           
        }
    }
}


////////////BRANDS
/// 
.page__brands {
}
.brands {

    padding-top: 6.875rem;
    padding-bottom: 5.625rem;

    @media (max-width: $tablet){
        padding-top: 5rem;
        padding-bottom: 4.375rem;
    }

    @media (max-width: $mobile){
        padding-top: 3.75rem;
        padding-bottom: 3.125rem;
    }

    @media (max-width: $mobileSmall){
        padding-top: 3.125rem;
        padding-bottom: 2.5rem;
    }
    .brands__container {
    }
   
    .brands__title {
    }
    .brands__logos {
        max-width: 63.75rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, auto);
        align-items: center;
        justify-items: center;
        justify-content: space-between;
        column-gap: 1.25rem;
        row-gap: 5rem;

        @media (max-width:$mobile) {
            grid-template-columns: repeat(3, auto);
            
        }

        @media (max-width:$mobileSmall) {
            grid-template-columns: repeat(2, auto);
            justify-content: center;
            row-gap: 4rem;
            column-gap: 1.875rem;
            
        }
    }
    .brands__logo-link {
       

        img{
           max-width: 100%;
        }
    }
}


////////////WHY
/// 
.page__why-try {
    margin-top: 5.625rem;
    margin-bottom: 200px;
    
    @media (max-width:$tablet){
        margin-top: 4.375rem;
        margin-bottom: 150px;
        
    }
    @media (max-width:61.9988rem){
        margin-top: 3.75rem;
        margin-bottom: 100px;
        
    }
    @media (max-width:$mobileSmall){
        margin-top: 3.125rem;
        margin-bottom: 90px;
    }

}
.why-try {
    
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: $dark;
    .why-try__container {
    }

    .why-try__title {

    }
    .why-try__reasons {
        display: flex;
        justify-content: space-between;
        column-gap: 20px ;
        row-gap: 30px;

        @media (max-width:$mobileSmall){
            flex-direction: column;
            align-items: center;
           
        }
        
    }
    .why-try__reason {
        max-width: 220px;
       
        text-align: center;
        padding: .3125rem .625rem;
    }
    
}

.reason{
    
    .reason__picture {
        background-color: #262626;
        border-radius: 20px;
        height: 4.5rem;
        width: 4.5rem;
        margin: 0 auto;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            padding: 20px;
        }
    }

    .reason__title{
        padding-top: 2.5rem;
        color: $white;
        font-size: 1.125rem;
        font-weight: 600;
        letter-spacing: .09rem;
        text-transform: uppercase;

        @media (max-width:$tablet){
            font-size: 1rem;
        }

        @media (max-width:$mobile){
            font-size: 14px;
            padding-top: 1  .875rem;
        }
        @media (max-width:$mobileSmall){
           
            padding-top: 1.25rem;
        }

        
        
    }
    .reason__text {
        padding-top: .75rem;
        font-size: .875rem;
        
        @media (max-width:$tablet){
            font-size: 12px;
        }

    }
}


/////////reviews
/// 
/// 


.page__reviews {
}
.reviews {
    padding-top: 200px;
    padding-bottom: 120px;
    
    @media (max-width:$tablet){
        padding-top: 150px;
        padding-bottom: 90px;
        
    }
    @media (max-width:61.9988rem){
        padding-top: 100px;
        padding-bottom: 90px;
        
    }
    @media (max-width:$mobileSmall){
        padding-top: 90px;
        padding-bottom: 70px;
    }

    .reviews__container {

        @media (max-width:$mobileSmall){
            padding: 0;
        }
    }
    
    .reviews__title {
    }
    .reviews__swiper {
    }
}

.swiper-reviews {
    position: relative;
    .swiper-reviews__wrapper {
    }
    
    .swiper-reviews__slide {
        display: flex;
        row-gap: 30px;

        @media (max-width: $tablet){
            flex-direction: column;

        }
        
    }

    .swiper-reviews__pagination {
        display: flex;
        transform: translate(0px, -100%);
        align-items: center;
        justify-content: flex-end;

        @media (max-width: $mobileSmall){
            justify-content: center;
            position: relative;
            bottom: 0;
            transform: translate(0px, 0px);
            padding-top: 30px;
           
        }
       
        .swiper-pagination-bullet{
            opacity: 1;
            border-radius: 1.25rem;
            background: #C4C4C4;
            flex: 0 0 .625rem;
            height: 1rem;
            gap: 1rem;
            transition: all 0.3s ease 0s;
        }
        .swiper-pagination-bullet-active{
            height: .75rem;
            flex: 0 0 1.5rem;
            background: $primary;
        }
    }
}


.slide-swiper-reviews {
   

    .slide-swiper-reviews__picture{
       
        flex: 0 1 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        @media (max-width:$mobileSmall){
            padding-left: 60px;
        }
        
    
    }
    .slide-swiper-reviews__image {
        position: relative;
        
        width: 20.625rem;
        height: 20.625rem;
        
        @media (max-width:$mobileSmall){
            width: 16.875rem;
            height: 16.875rem;
        }

        img{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            overflow: hidden;
            border-radius: 12.5rem;
            z-index: 2;
        }

        &::before{
            content: "";
            position: absolute;
            width: 17.8125rem;
            height: 16.125rem;
            top: 50px;
            right: 90px;
            background-color: $primary;
            border-radius: 40px 0px 400px 400px;
            transform: rotate(-7.724deg);
            flex-shrink: 0;
            z-index: 1;

            @media (max-width:$mobileSmall){
                width: 205px;
                height: 178px;
            }
        }

        
    }
    .slide-swiper-reviews__body {
        flex: 0 1 50%;
        
        @media (max-width:$mobileSmall){
            padding: 0 .9375rem;
        }
    }
    .slide-swiper-reviews__text {
        font-size: 1.5rem;
        line-height: 160%;

        &:not(:last-child){
            padding-bottom: 3.4375rem;

            @media (max-width:$tablet){
                padding-bottom: 2.5rem;
            }
    
            @media (max-width:$mobileSmall){
                padding-bottom: 1.875rem;
            }
        }

        p{
            text-align: justify;
            &:not(:last-child){
                padding-bottom: .9375rem;
            }
        }

        @media (max-width:$tablet){
            font-size: 1.25rem;
        }

        @media (max-width:$mobileSmall){
            font-size: 1rem;
        }
    }
    .slide-swiper-reviews__author {
        
        @media (min-width:$mobileSmall) {
            max-width: 70%;
        }
        
    }
    .slide-swiper-reviews__name {
        color: #000;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 160%;
        text-transform: capitalize;

        &:not(:last-child){
            padding-bottom: .5rem;
        }

        @media (max-width:$tablet){
            font-size: 1.25rem;
        }

        @media (max-width:$mobileSmall){
            font-size: 1rem;
        }
    }
    .slide-swiper-reviews__position {
        color: $link-grey;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 160%;
        letter-spacing: .09rem;
        text-transform: uppercase;

        @media (max-width:$tablet){
            font-size: 1rem;
        }

        @media (max-width:$mobileSmall){
            font-size: .875rem;
        }
    }
    
}






    
    

